@import "./font.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.navbar {
  height: 100%;
  width: 70vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: pink;
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s;
}

.navbar--show {
  transform: translateX(0);
}

.navbar__header {
  margin-top: 0;
  align-self: center;
}

.navbar__link {
  text-decoration: none;
  text-align: center;
  padding-top: 1rem;
  color: inherit;
}

.hero {
  background: rgb(0, 0, 0);
  position: relative;
  text-align: center;
  overflow: hidden;
}

.hero__image {
  background-image: url("../images/hero_image.jpg");
  background-size: cover;
  height: 70vh;
  opacity: 0.55;
  background-position-x: 40%;
  background-position-y: 70%;
}

@media only screen and (max-height: 400px) {
  .hero__image {
    height: 85vh;
  }
}

.hero__text-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}

.hero__text {
  margin-bottom: 0;
}

.hero__subtext {
  margin-top: 0.5em;
}
