@import "./font.css";

:root {
  --black: rgb(5, 5, 5);
  --white: rgb(250, 250, 250);
  --cream: #e7e7e7;
}

html {
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  background-color: var(--cream);
}

html::-webkit-scrollbar {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.hero {
  background: rgb(0, 0, 0);
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.hero__image {
  background-size: cover;
}

.hero__image--top {
  background-image: url("../images/hero-image-top.jpg");
  height: 70vh;
  opacity: 0.55;
  background-position: 45%;
  transform: scale(1.2);
}

.hero__text-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--white);
}

.hero__text {
  margin-bottom: 0;
}

.hero__subtext {
  margin-top: 0.5em;
}

.container {
  padding: 0 2em;
}

.section {
  padding: 2em 0;
}

.section:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.section__title {
  text-align: center;
}

.countdown {
  display: flex;
  justify-content: space-around;
}

.countdown h1 {
  margin: 0;
}

.countdown div {
  text-align: center;
}

.hero__image--bottom {
  background-image: url("../images/hero-image-bottom.jpg");
  height: 75vh;
  background-position: 40% 70%;
}

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 1em;
}

.footer__wedding-names {
  margin: 0;
}

.footer__wedding-date {
  margin: 1em 0 0 0;
}

.footer__ashley-rose {
  margin: 0 0 0.5em 0;
}

.footer__ashley-rose__icons {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 1em;
}

.footer__ashley-rose__icons li {
  list-style-type: none;
  padding: 0 0.5em;
}

.footer__ashley-rose__icons li a {
  color: rgba(5, 5, 5, 0.85);
  text-decoration: none;
}

@media only screen and (max-width: 320px) {
  .hero__image--top,
  .hero__image--bottom {
    min-height: 80vh;
  }
}

@media only screen and (max-height: 400px) {
  .hero__image--top {
    min-height: 95vh;
    background-position: center;
  }
}

@media only screen and (min-height: 800px) and (max-width: 400px) {
  .hero__image--top {
    height: 65vh;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 3em;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 0 4em;
  }
}
